*{
    padding: 0;
    margin:0;
}

.header{
    background-image: url(img/workout_4.jpg);
    height:80vh;
    background-size:cover;
    background-position:center;
}

body {
    height: 100vh;
    background-image: url("img/motiv8-background.png");
    background-color: #cccccc;
}

.page-container {
    display: flex;
    height: 100%;
  }

.main-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}  

.badge-development {
    background-color: #EC1B69;
    color: white;
}
  
.badge-design {
    background-color: #3B56A5;
    color: white;
}
  
.badge-business {
    background-color: #82C94B;
    color: white;
}
  
.container{
    position: relative;
    color: white;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
}


footer{
     background-color: lightGray;
}
   
.column{
     float: left;
     width: 25%;
     margin: 50px;
   
}
  
  
.col-sm-6{
      left: 70px;
      top: 100px;
}
  
  
.btn-group{
  
      left: 1100px;
      top: 10px;
}
  
